<header>
  <div id="header"><a href="localhost:8080">Chris' URL Shortener</a></div>
  <br><br>
  <% if (username) { %>
    Hi there, <%= username %>!
    <form method="POST" action="/logout">
    <input class="button" type="submit" value="Logout">
  <% } else { %>
    <form method="POST" action="/login">
    <input type="text" name="username" placeholder="type your username..."><input class="button" type="submit" value="Sign In">
  <% } %>
  </form>
</header>